body {
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;
  overflow: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 300;
}

p {
  margin: 20px 0;
  line-height: 30px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  background: #1C1F26;
  border-bottom-left-radius: 50px;
}

header ul li {
  display: inline-block;
  padding: 10px;
  margin: 15px 30px;
  cursor: pointer;
}

.hero_name {
  position: absolute;
  top: -10px;
  left: 60px;
  background: black;
  padding: 40px 30px 30px 30px;
  border: 1px solid grey;
}

.hero_name img {
  width: 50px;
  position: relative;
}

.vLine {
  width: 1px;
  height: 165vh;
  background: grey;
  z-index: -200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

button {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

.menu_box {
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px;
  background: white;
  cursor: pointer;
  text-align: center;
}

.menu_box i {
  margin-top: 8px;
  color: black;
  font-size: 25px;
}

.content {
  max-width: 600px;
  position: absolute;
  top: 55%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
}

.foreground_image {
  position: absolute;
  top: 50%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

.foreground_image img {
  width: 300px;
}

.background_image {
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -100;
  height: 100vh;
}

.background_image img {
  height: 98vh;
  opacity: 0.4;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.heroNextThumb {
  border: 1px solid #26C281;
  background: black;
  padding: 5px 5px 2px 5px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 60px;
}

.heroNextThumb img {
  height: 100px;
  width: 100px;
}

/* Custom classes */
.relative {
  position: relative;
}

.c-mt-xg {
  margin-top: 60px;
}

.c-mt-lg {
  margin-top: 40px;
}

.c-mt-md {
  margin-top: 25px;
}

.c-mt-sm {
  margin-top: 15px;
}

.c-mt-xs {
  margin-top: 10px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.grid-container .grid-item {
  padding: 40px;
}

button:disabled {
  border: 1px solid tomato;
  color: tomato;
  cursor: not-allowed;
}

.serviceBG {
  z-index: -300;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 10%;
}

.serviceBG img {
  height: 160vh;
  opacity: 0.5;
}

.service-section .grid-container {
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.contact-section .grid-container {
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.contact-section .glitch-img {
  opacity: 0.8;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 2%;
  z-index: -100;
}

.contact-section ul {
  padding: 0px;
}

.contact-section ul li {
  margin: 0px;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section ul li img {
  height: 40px;
  padding-right: 10px;
}

.contact-section ul li:hover {
  text-decoration: line-through;
}

@-webkit-keyframes enterPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enterPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation Services */
.mainWrap {
  -webkit-animation: scaleCircle 10s ease infinite;
          animation: scaleCircle 10s ease infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  left: 40%;
}

.mainWrap div {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.mainWrap .wrapper {
  position: relative;
}

.mainWrap .c1 {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  border: 1px solid #e7b439;
  -webkit-animation: rotFirst 30s linear infinite;
          animation: rotFirst 30s linear infinite;
}

.mainWrap .c1 .c2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  height: 190px;
  width: 190px;
  border: 1px solid #FFB61E;
  border-style: dashed;
}

.mainWrap .c1 .c2 .c3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #FFB61E;
  height: 180px;
  width: 180px;
  border-radius: 100%;
  -webkit-animation: changeColor 30s linear infinite;
          animation: changeColor 30s linear infinite;
}

.mainWrap .c1 .c2 .c3 .rect1 {
  border: 1px solid #FFB61E;
  border-style: dotted;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 120px;
  width: 120px;
}

.mainWrap .c1 .c2 .c3 .rect1 .miniC {
  text-align: center;
  height: 120px;
  width: 120px;
  position: relative;
}

.mainWrap .c1 .c2 .c3 .rect1 .miniC .box {
  height: 10px;
  width: 10px;
  border: 1px solid #FFB61E;
  border-radius: 100%;
  margin: 4px;
}

.mainWrap .c1 .c2 .c3 .rect1 .miniC .miniC1 {
  position: absolute;
  top: -12%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border: 3px solid #FFB61E;
  border-radius: 100%;
  -webkit-animation: changeColor 30s linear infinite;
          animation: changeColor 30s linear infinite;
}

.mainWrap .c1 .c2 .c3 .rect1 .miniC .miniC2 {
  position: absolute;
  top: 50%;
  left: -12%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border: 3px solid #FFB61E;
  border-radius: 100%;
  -webkit-animation: changeColor 30s linear infinite;
          animation: changeColor 30s linear infinite;
}

.mainWrap .c1 .c2 .c3 .rect1 .miniC .miniC3 {
  position: absolute;
  top: 50%;
  left: 112%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border: 3px solid #FFB61E;
  border-radius: 100%;
  -webkit-animation: changeColor 30s linear infinite;
          animation: changeColor 30s linear infinite;
}

.mainWrap .c1 .c2 .c3 .rect1 .miniC .miniC4 {
  position: absolute;
  top: 112%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border: 3px solid #FFB61E;
  border-radius: 100%;
  -webkit-animation: changeColor 30s linear infinite;
          animation: changeColor 30s linear infinite;
}

.mainWrap .c1 .c2 .c3 .rect1 .c4 {
  border: 1px solid #FFB61E;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  border-style: dotted;
  -webkit-animation: changeColor 30s linear infinite;
          animation: changeColor 30s linear infinite;
}

.mainWrap .c1 .c2 .c3 .rect1 .c4 .rect2 {
  border: 1px solid #FFB61E;
  height: 80px;
  width: 80px;
  margin: 20px auto 0px auto;
  -webkit-animation: rotminiC 10s linear infinite;
          animation: rotminiC 10s linear infinite;
}

.mainWrap .c1 .c2 .c3 .rect1 .c4 .rect3 {
  border: 1px solid #FFB61E;
  height: 80px;
  width: 80px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.mainWrap .c1 .c2 .c3 .rect1 .c5 {
  border: 1px solid #FFB61E;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  -webkit-animation: changeColor 30s linear infinite;
          animation: changeColor 30s linear infinite;
}

.mainWrap .c1 .c2 .c3 .rect1 .c6 {
  border: 3px solid #FFB61E;
  height: 50px;
  width: 50px;
  -webkit-animation: changeColor 30s linear infinite;
          animation: changeColor 30s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
}

/* Custom animations */
.slideDown {
  -webkit-animation: slideDown 1s ease-out;
          animation: slideDown 1s ease-out;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.65, 0.15, 0.95);
          animation-timing-function: cubic-bezier(0.13, 0.65, 0.15, 0.95);
}

@-webkit-keyframes slideDown {
  from {
    top: -300px;
  }
  to {
    top: -10px;
  }
}

@keyframes slideDown {
  from {
    top: -300px;
  }
  to {
    top: -10px;
  }
}

.slideRight {
  -webkit-animation: slideRight 1s;
          animation: slideRight 1s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.65, 0.15, 0.95);
          animation-timing-function: cubic-bezier(0.13, 0.65, 0.15, 0.95);
}

@-webkit-keyframes slideRight {
  from {
    opacity: 0;
    left: 110%;
  }
  to {
    opacity: 1;
    left: 80%;
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    left: 110%;
  }
  to {
    opacity: 1;
    left: 80%;
  }
}

.scale {
  -webkit-animation: scale 2s ease both;
          animation: scale 2s ease both;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.1;
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.4;
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.1;
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.4;
  }
}

@-webkit-keyframes rotFirst {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotFirst {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotminiC {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotminiC {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes changeColor {
  0% {
    -webkit-box-shadow: 0px 0px 70px  #FFB61E;
            box-shadow: 0px 0px 70px  #FFB61E;
    border: 3px solid #FFB61E;
  }
  35% {
    -webkit-box-shadow: 0px 0px 100px #14FE07;
            box-shadow: 0px 0px 100px #14FE07;
    border: 3px solid #14FE07;
  }
  55% {
    -webkit-box-shadow: 0px 0px 100px #DD0D02;
            box-shadow: 0px 0px 100px #DD0D02;
    border: 3px solid #DD0D02;
  }
  100% {
    -webkit-box-shadow: 0px 0px 70px #FFB61E;
            box-shadow: 0px 0px 70px #FFB61E;
    border: 3px solid #FFB61E;
  }
}

@keyframes changeColor {
  0% {
    -webkit-box-shadow: 0px 0px 70px  #FFB61E;
            box-shadow: 0px 0px 70px  #FFB61E;
    border: 3px solid #FFB61E;
  }
  35% {
    -webkit-box-shadow: 0px 0px 100px #14FE07;
            box-shadow: 0px 0px 100px #14FE07;
    border: 3px solid #14FE07;
  }
  55% {
    -webkit-box-shadow: 0px 0px 100px #DD0D02;
            box-shadow: 0px 0px 100px #DD0D02;
    border: 3px solid #DD0D02;
  }
  100% {
    -webkit-box-shadow: 0px 0px 70px #FFB61E;
            box-shadow: 0px 0px 70px #FFB61E;
    border: 3px solid #FFB61E;
  }
}

@-webkit-keyframes scaleCircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  55% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  80% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleCircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  55% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  80% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.defaultAnim {
  -webkit-animation: enterPage 2s ease;
          animation: enterPage 2s ease;
}

.active {
  text-decoration: line-through;
  color: grey;
}
/*# sourceMappingURL=design.css.map */